# 云服务器数据库配置
CLOUD_MYSQL_HOST=your-cloud-server-ip
CLOUD_MYSQL_USERNAME=root
CLOUD_MYSQL_PASSWORD=123456

# 云服务器Redis配置
CLOUD_REDIS_HOST=your-cloud-server-ip
CLOUD_REDIS_PASSWORD=

# 云服务器消息队列配置
CLOUD_ROCKETMQ_HOST=your-cloud-server-ip
CLOUD_RABBITMQ_HOST=your-cloud-server-ip
CLOUD_RABBITMQ_USERNAME=rabbit
CLOUD_RABBITMQ_PASSWORD=rabbit
CLOUD_KAFKA_HOST=your-cloud-server-ip